@charset utf-8;


* {
  box-sizing: border-box;
  overflow-x: hidden;
  transitionDuration: 0;
}

html, body {
  scrollbar-width: thin;
  scrollbar-color: #007700aa #00bb00aa;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
 body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  justify-content: center;
  position: relative;
  width: calc(100%);
  align-items: center;
  padding-right:1vw;
}

#backdrop {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 120%;
  height: 200vw;
  top: -20px;
  left: -20px;
/*   z-index: 2; */
  border: none;
  outline: none;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    328deg,
    rgba(0, 0, 0, 1) 0,
    rgba(0, 59, 10, 1) 32%,
    rgba(3, 74, 46, 1) 42%,
    rgba(2, 63, 1, 1) 51%,
    rgba(1, 45, 1, 1) 68%,
    rgba(0, 0, 0, 1) 100%
  );
  filter: blur(10px);
}


@keyframes fadeinout {
  0% {
  background-color: #00af40;
  }
  33% {
  background-color: #e0ff25;
  }
  67% {
    background-color: #ffdd00;
  }
  100% {
    background-color: #e80;
  }
}
.grid { 
  scrollbar-width: thin;
  scrollbar-color: #007700aa #00bb00aa;
  overflow: auto;
  overflow-x: hidden;
  width: 100vw;
  left: 0;
  padding-left: 1.75vw;
  margin-top:8.5vw;
  display: flex;
  flex-flow: row wrap;
}

/* clear fix */
.grid:after {
  clear: both;
  content: "";
  display: block;
  scrollbar-width: thin;
  scrollbar-color: #007700aa #00bb00aa;
}

/* ---- .grid-item ---- */
.emoji-label {
  display: none;
  text-align: center;
}

.grid-item {
  background: #0d8;
  border: 2px solid #333;
  border-color: hsla(0, 0, 0, 0.7);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 12vw;
  width: 12vw;
  z-index: 10;
  align-items: center;
  transition-duration: 0;
  transitionDuration: 0;
}

.grid-item:not(.gigante) img {
  max-height: 128px;
  max-width: 128px;
  overflow: hidden;
/*   width: 85%; */
  z-index: 500;
  height: 89%;
  width: 89%;
  
}

.grid-item:not(.gigante) img:hover {
  max-height: 132px;
  max-width: 132px;
  height: 85%;
  width: 85%;
}

.label-show {
  display: block;
}

.label-hide {
  display: none;
}
/* 
.grid-item--width2 {
  width: 200%;
}

.grid-item--height2 {
  height: 200%;
} */

.grid-item:hover {
  background: #8cf;
  border: 1px solid #333;
  cursor: pointer;
}

.grid-item.gigante p {
  display: flex;
  flex-direction: column;
  margin-top: 2vw;
  height: 4vw;
  font-family: monospace;
  font-size: 1.5vw;
  font-weight: 700;
  opacity: 1.0;
}

.grid-item.gigante {
  background-color: #f80;
  height: 24vw;
  overflow: hidden;
  width: 24vw;
  display: flex;
  flex-direction: column;
  align-items:center;
  animation: 10s infinite alternate forwards ease-in-out fadeinout;
}

.grid-item.gigante .emoji-img {
    max-height: 128px;
    max-width: 128px;
    height: 12vw;
    width: 12vw;
    overflow: hidden;
/*     width: 14vw; */
}
.grid-item.gigante .emoji-img:hover {
    
  max-height: 130px;
  max-width: 130px;
  height: 13vw;
  width: 13vw;
}
.moji-options {
  overflow: hidden;
  padding: 0.125rem;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 9vw;
  gap: 0.5vw;
  width: 100%;
}

.clip-btn {
    transition: all 0.5s;
    background-color: forestgreen;
    padding: 0.2vw 0.5vw 0.3vw;
    overflow: hidden;
    font-size: 1.1vw;
    font-family: monospace;
    border-radius: 0.5rem;
    border: 0.1vw solid black;
    min-width: fit-content;
    margin: 0.25em;
}
.btn-active {
  background-color: #1d0;
  border-color: gold;
}
.clip-btn:hover {
  background-color: #8cf;
  border: 1px solid #333;
  cursor: pointer;
}


.moji-options {
    opacity: 1;
    display: flex;
    margin-bottom: 0.25vw;
}
.search-container{
  overflow:hidden;
  border: 3px solid #00db0044;
  border-radius: 1vw;
  height: 7vw;
  right:0.65vw;
  width:auto;
  position:absolute; 
  top: 0.5vh;
  left:0.65vw;
  padding: 0.25vw 0.25vw; 
  margin:0.125vw 0.5vw;
  background-color:#86ff70cc;
  z-index:1000;
  opacity:0.8;
  margin-right: 0.65vw;
  padding-right: 1.25vw;
  margin-bottom: 1vw;
}

.search-bar {
  height: 5.5vw;
  border-radius: 1vw; 
  margin: 0.125vw; 
  overflow:hidden;
  width: 100%;
  background-color: #007500;
  position:relative;
  left: 0.5vw; 
  top:0.125vw;
  padding-right: 1.125vw;
  display:flex;
  align-items:center;
  justify-content: center;
}

.search-deco {
  overflow:hidden; 
  height: calc(4.25vw - 2px); 
  width: calc(4.25vw - 2px); 
  top: 0; 
  left: 0.5vw;
  position: relative;
  margin:0.25vw;
  background-color: #008000;
  border: 1px solid #0d00;
  border-radius: 1vw; 
  padding: 0.5vw;
  margin-right: 0.125vw;
  margin-left: 1vw;
}

.txt-search, .txt-search:active {
  background-color: #ffffff22;
  border-radius:2vw;
/*   color: #000000dd;  */
  width:90%;
  height: 3.25vw;
  font-size: 2vw;
  font-family: sans-serif;
  resize:none;
  padding: -0.25vw;
  padding-left: 1vw;
  margin: 0.25vw;
  margin-left: 1.5vw;
/*   outline: 1px solid #ffffff66;  */
  border: 2px outset #33ee00;
/*   border-left: 15px solid transparent; */
  outline-left: 0.5vw ridge #24df00a4;
  outline-right: 0.5vw ridge #24df00a4;
  outline-bottom: 0.5vw groove #24df00a4;
  outline-top: 0.5vw groove #24df00a4;
  margin-right: 1vw;
  box-sizing:border-box;
  overflow:hidden;
}

.clear-search {
  display: flex;flex-direction:column; width:3vw;flex-wrap:nowrap;align-items:center;justify-content:center;border: 2px outset #0d0;text-align:center;
  border-radius: 0.75vw;padding:0.125vw 0.25vw;padding-right:0.75rem;
  background-color: #5f5;
  transition: 750ms all;
}
.clear-search:hover {
filter: drop-shadow(0px 0px 2px black) brightness(1.1);
transform: scale(1.05);
}
.clear-x { 
  transition: 750ms all;
  font-size:1.35vw;
  margin:0.35vw 0.125vw;
  color: #060;
  font-weight: 700;
  position:relative; 
  right: -0.5vw;
}

.clear-x:hover {
  font-size: 1.45vw;
  color: #1a1;
  font-weight: 1000;
  margin: 0.125vw 0.25vw;
  text-shadow: 0px 0px 1px #0d0a;
}

.search-icon {
  fill: #0e0e;
  overflow:hidden;
  height:4vw;
  width:4vw;
  padding: 0.125vw;
}

.grid-item:not(:is(.gigante))>:has(button) {
    display: none;
}