<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <pre>
'########:'########::'########:::'#######::'########:::::'##::::::::::'#####:::'##::::::::
 ##.....:: ##.... ##: ##.... ##:'##.... ##: ##.... ##:::: ##:::'##:::'##.. ##:: ##:::'##::
 ##::::::: ##:::: ##: ##:::: ##: ##:::: ##: ##:::: ##:::: ##::: ##::'##:::: ##: ##::: ##::
 ######::: ########:: ########:: ##:::: ##: ########::::: ##::: ##:: ##:::: ##: ##::: ##::
 ##...:::: ##.. ##::: ##.. ##::: ##:::: ##: ##.. ##:::::: #########: ##:::: ##: #########:
 ##::::::: ##::. ##:: ##::. ##:: ##:::: ##: ##::. ##:::::...... ##::. ##:: ##::...... ##::
 ########: ##:::. ##: ##:::. ##:. #######:: ##:::. ##:::::::::: ##:::. #####::::::::: ##::
........::..:::::..::..:::::..:::.......:::..:::::..:::::::::::..:::::.....::::::::::..::: 
@@@@@@@@@@@@@@@@@@@@@@@@@&#BG5YJ??77J5#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@&BPY7~:..          .~Y#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@&P7^.                     .~P@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@Y:             ~!^.  .~:.     7@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@5^               :JPP5Y5@@#GPPYJP@@@B#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@5^                    .:^!5#5J??YB?!?YG&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@#~  :P^                   ~J7.     ^Y!  !P@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@5.   Y#.                 ^57.    :~^  75^~P@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@P~    !&7~!!~:.           :G^     ~B7JY  :5!.5@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@B^    ^Y&J~^^^!?JJ!:        JY      .~!7~    J~ J@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@G   !G@@7        :~7Y~      ^G~               5: G@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@J  .Y@BG ..         G7       .JJ~.           .G~ ^BP@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@B.  ?&?^:??5:       ~P   ^!7?!!~~?J7~^:..  .:!Y7   7YJ@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@!   ?^^5.P!Y:      75..7J?!!G?^^55755YYYYYYJ?!.     ?7G@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@#.     GP  .     .!57 75~.   .YJ77. ^G5?77JY?~.       ~B@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@G    :5?YY~:...:75?. Y?57    :J5^    .7YYY5Y~~YJ      ^@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@B   .Y?  ^77!!!?7.  YJ :&5~7?7^        .:.     ?Y.    .&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&J                  .G. .B7^:.                   ~Y!:   Y@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
G~.                 !P :JJ                     .^~Y?.   ~@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
GJY                 YG!!^           .::^^~~!!7??7~.     :&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&~B:                G~        .^!7??77!!~~^^:..         .#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@?7Y               ~P     .~7J?!~:.                     .#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@&^5^              P~  :!JJ!^.                          .#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@B5P             5J ~?J!.                              :&@@@@@@@@@@@@@@@@&&@@@@@B#@G5B@@@
@@@@@!           JG!?!:                       .:::      ~@@@@@@@@@@@@@@@@@~.:?@#! :#J  ~B@
@@@@@&7         ~B7^               .??~~77?J!5#5Y5P?    J@@@P!~7#@@@@@@@@G    P?   5J   ^&
@@@@@@@P^       :.    .!JYJ~       ^@7..!@&~ :#?  ^B?  :&@#~    Y@@@@@@@@!   .G:  !B:   .#
@@@@@@@@&P7^         ^GJ!^^B^      !P    GJ   P?   ^B :B@@P     J@@@@@@@Y   ^BY  J&~    :&
@@@@@@@@@@@@BY!:    .G7    5Y      G7   .B^  ?#:   .#!B@@@G     7@@@&#G7   !P?  JG^     J@
@@@@@@@@@@@@@@@&BPPB#B     ?5    ^PG.  !B?  5#~    ^&@@@@@#.    .!~^:.     :   .~      ?@@
@@@@@@@@@@@@@@@@@@@@@G     !BJJ?J5?.  !5~ .Y5:     5@@@@@@@^                       .!YB@@@
@@@@@@@@@@@@@@@@@@@@@B.    .!~^:.     .   :^     :5@@@@@@@@Y            :~.      :J#@@@@@@
@@@@@@@@@@@@@@@@@@@@@@~                       :?G&@@@@@@@BY^         .!5P!     ^Y&@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@J                     ^P@@@@@@&#P?^.        :?PPY~   .~JG@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@&P7.                  .!Y5JJJJ?7~:.          :5GJ^  ^?YG#@@@@@@@@@@@@@@
@@@@@@@@@@@@@@&#GY7:                 :~7JJ7^                   ~P7.^!Y#@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@P~.                 ^7Y5Y?~:                      JJP#@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@#5!^..............~J?!:.....................:^!JG&@@@@@@@@@@@@@@@@@@@@@@@@@@
        
  </pre>

 
</body>

</html>
