<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>DJ's Mojibase [Tectonix]</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="og:title" content="DJ's Mojibase v2" />
    <meta name="og:description" content="Next-gen emoji database with search, filtering, and more." />
    <meta name="og:url" content="https://mojibase-v2.djstomp.repl.co" />
    <meta name="og:image" content="https://i.imgur.com/XFM5zck.gif" />
    <meta name="og:site_name" content="DJ's Mojibase" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="https://mojibase-v2.djstomp.repl.co" />
    <meta name="twitter:creator" content="DJ Stomp#2525" />
    <meta name="twitter:description" content="Next-gen emoji database with search, filtering, and more." />
    <meta name="twitter:image" content="https://i.imgur.com/XFM5zck.gif" />
    <meta name="twitter:title" content="DJ's Mojibase v2" />
    <script src="https://code.jquery.com/jquery-3.6.2.min.js"></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
  </head>
  <body>
    <div id="backdrop"></div>
    <div class="search-container">
      <div class="search-bar"><div class="search-deco"><span style="width:4vw; height:4vw;"><svg enable-background="new 0 0 24 24" id="srch" class="search-icon" version="1.0" viewBox="1 1 24 24"<g><g><path d="M9,4c2.8,0,5,2.2,5,5s-2.2,5-5,5s-5-2.2-5-5S6.2,4,9,4 M9,2C5.1,2,2,5.1,2,9c0,3.9,3.1,7,7,7s7-3.1,7-7C16,5.1,12.9,2,9,2    L9,2z"/></g></g><g><polygon points="22,20.3 20.3,22 14,15.7 14,14 15.7,14  "/></g></svg></span></div><textarea class="txt-search" name="txt-search" id="txt-search"></textarea> <div class="clear-search"><p class="clear-x">X</p></div></div>
      
    </div>
    <div class="grid">
      {{ griditems|safe }}
    </div>
    <div id="snackbar">Copied to clipboard!</div>
    <div id="wackbar">Unable to copy to clipboard!</div>
    <div id="ks" data-count="0" style="display:none;"></div>
    <script>
      
      function writeClip(output) {
        try {
          console.log('Attempting to write to clipboard:', output)
          navigator.clipboard.writeText(`${output}`)
        } catch (e) {console.log(e)}
      }
      async function addClip(output) {
        try {
          var cliptext = await navigator.clipboard.readText()
          console.log(`${cliptext} ${output}`)
          navigator.clipboard.writeText(`${cliptext} ${output}`)
        } catch (e) {
          console.log(e)
        }
      }
      $grid = $('.grid').isotope({
          itemSelector: ".grid-item",
          layoutMode: "masonry",
          percentPosition: true,
          columnWidth: ".grid-item",
          columnWidth: 60,
          sortBy: "random",
          hiddenStyle: {
            opacity: 0
          },
          visibleStyle: {
            opacity: 1
          }
      });
      $grid.on('click', '.grid-item', function(e){
        if (e.target.classList.contains('gigante')){
          e.target.classList.remove('gigante')
          $grid.isotope('layout')
          return
        }
        try {let mopts = document.getElementsByClassName('moji-options')[0]
        mopts.remove()}catch{}
        var $this = $(this);
        var emojiId = e.target.getAttribute('data-id')
        $(".gigante").toggleClass("gigante");
        $this.toggleClass("gigante")
        let mojopts = document.createElement('div')
        let wbtn = document.createElement('button')
        let abtn = document.createElement('button')
        mojopts.classList.add("moji-options")
        wbtn.classList.add('clip-btn')
        abtn.classList.add('clip-btn')
        wbtn.classList.add('wbtn')
        abtn.classList.add('abtn')
        abtn.innerText = "Copy Glyph"
        wbtn.innerText = "Copy ID"
        mojopts.append(wbtn)
        mojopts.append(abtn)
        document.getElementsByClassName('gigante')[0].append(mojopts)
        document.getElementsByClassName('wbtn')[0].addEventListener('click', function(event) {
            writeClip($('.gigante').attr('data-id'));
            event.target.style.backgroundColor = "#00ff00"
            event.stopPropagation()
            event.stopImmediatePropagation()
      }, true)
        document.getElementsByClassName('abtn')[0].addEventListener('click', function(event) {
            writeClip(String.fromCharCode($('.gigante').attr('data-id')));
            event.target.style.backgroundColor = "#00ff00"
            event.stopPropagation()
            event.stopImmediatePropagation()
          }, true)
        $grid.isotope()
      });
      var $srch = $("#txt-search");
      $srch.on("keyup", function (e) {
          // filterworker.postMessage(e.target.value, $grid, $)
          $grid.isotope({filter: e.target.value.length > 0 ? $(`.grid-item[data-name*="${e.target.value.replace(/\s/gi, '_').replace('\n', '').toLowerCase()}"]`):''})
      })
      document.querySelector('.clear-search').addEventListener('click', function(event){
        $('#txt-search').val('');
        $grid.isotope({filter: '.grid-item'})
        $grid.isotope('layout');
      })
      $grid.isotope('layout')
    </script>
    <script src='/static/js/index.js'></script>
  </body>
</html>
